* {
  margin: 0;
  font-family: monospace;
}
html {
  height: 100%;
}
body {
  height: 90%;
  background: linear-gradient(#4f6f5d, #8EAF9D);
}
.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#title-a {
  text-decoration: none;
  outline: none;
}
#title-a #title {
  text-align: center;
  font-size: 400%;
  margin-top: 40px;
  color: #FFF;
  text-decoration: none;
}
#title-a #title:hover {
  color: #c7d7ce;
}
#metronome #readout-plus-minus {
  display: flex;
  font-size: 300%;
  align-items: center;
  justify-content: space-between;
}
#metronome #readout-plus-minus #minus-button,
#metronome #readout-plus-minus #bpm-readout,
#metronome #readout-plus-minus #plus-button {
  width: 30%;
  font-weight: bold;
  color: #FFF;
}
#metronome #readout-plus-minus #plus-button:hover {
  color: #c7d7ce;
}
#metronome #readout-plus-minus #minus-button {
  text-align: right;
}
#metronome #readout-plus-minus #minus-button:hover {
  color: #c7d7ce;
}
#metronome #readout-plus-minus #bpm-readout {
  display: flex;
  justify-content: center;
  font-size: 200%;
  margin: 20px 0;
}
#metronome #play-stop-parent {
  display: flex;
}
#metronome #play-stop-parent #play-stop {
  font-size: 500%;
  margin-top: 20px;
  margin: 0 auto;
  color: #FFF;
}
#metronome #play-stop-parent #play-stop:hover {
  color: #c7d7ce;
}
#metronome #bpm-table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border: 2.5px solid white;
  border-radius: 5px;
}
#metronome #bpm-table .bpm-table-cell {
  border: 2.5px solid white;
  flex: 1 1 24%;
  font-size: 150%;
  text-align: center;
  color: #FFF;
  padding: 5px 0;
}
#metronome #bpm-table .bpm-table-cell:hover {
  color: #c7d7ce;
}
#metronome #volume-control-parent {
  width: 50%;
  margin: 0 auto;
}
#metronome #volume-control {
  width: 100%;
  margin-top: 20px;
}
#metronome #volume-readout {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}
.mouseover:hover {
  color: #c7d7ce;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 50%;
  }
}
