* {
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 90%;
  display: flex;
  align-items: center;
  background: linear-gradient(#354b3f, #000000);
}
::selection {
  background-color: none;
  color: #000;
}
.wrapper {
  margin: 0 auto;
  width: 50%;
  max-width: 450px;
  min-width: 320px;
}
#title {
  text-align: center;
  font-size: 400%;
  margin-top: 40px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
#title:hover {
  color: #b4cbbe;
}
#readout-plus-minus {
  display: flex;
  font-size: 300%;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
#readout-plus-minus #minus-button-parent,
#readout-plus-minus #bpm-readout,
#readout-plus-minus #plus-button-parent {
  width: 32%;
  font-weight: bold;
  color: #FFF;
}
#readout-plus-minus #plus-button-parent,
#readout-plus-minus #minus-button-parent {
  text-align: center;
}
#readout-plus-minus #plus-button-parent i,
#readout-plus-minus #minus-button-parent i {
  vertical-align: middle;
  cursor: pointer;
}
#readout-plus-minus #plus-button-parent i:hover,
#readout-plus-minus #minus-button-parent i:hover {
  color: #b4cbbe;
}
#readout-plus-minus #bpm-readout {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  min-width: 5em;
}
#readout-plus-minus #bpm-readout input {
  width: 100%;
  font-size: 200%;
  background: none;
  border: none;
  outline: none;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}
#readout-plus-minus #bpm-readout input:hover {
  color: #b4cbbe;
}
#play-stop-parent {
  display: flex;
}
#play-stop-parent #play-stop {
  font-size: 500%;
  margin-top: 20px;
  margin: 0 auto;
  color: #FFF;
  cursor: pointer;
}
#play-stop-parent #play-stop:hover {
  color: #b4cbbe;
}
#bpm-table {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  border: 2.5px solid white;
  border-radius: 5px;
  width: 100%;
}
#bpm-table .bpm-table-cell {
  border: 2.5px solid white;
  flex: 1 1 20%;
  font-size: 150%;
  text-align: center;
  color: #FFF;
  padding: 5px 0;
  cursor: pointer;
}
#bpm-table .bpm-table-cell:hover {
  color: #b4cbbe;
}
#volume-control-parent {
  width: 25%;
  margin: 0 auto;
}
#volume-control {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}
#volume-control:hover {
  color: #b4cbbe;
}
#volume-readout {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}
.mouseover {
  cursor: pointer;
}
.mouseover:hover {
  color: #b4cbbe;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 75%;
    max-width: none;
  }
  #volume-control-parent {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
  #readout-plus-minus {
    width: 100%;
  }
  #bpm-table .bpm-table-cell {
    flex: 1 1 32%;
  }
  #volume-control-parent {
    width: 90%;
  }
}
