//out:styles.css

@color-1: pink;
@color-2: #000;

* {
  margin: 0;
  font-family: monospace;
}

body {
  background-color: @color-1;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#title {
  text-align: center;
  font-size: 400%;
  margin-top: 20px;
}

#metronome {
  #readout-plus-minus {
    display: flex;
    font-size: 300%;
    align-items: center;
    #minus-button, #bpm-readout, #plus-button {
      width: 32%;
      font-weight: bold;
    }
    #minus-button {
      text-align:right;
    }
    #bpm-readout {
      display: flex;
      justify-content: center;
      font-size: 200%;
      margin: 20px 0;
    }
  }

  #play-stop-parent {
    display: flex;
    #play-stop {
      font-size: 500%;
      margin-top: 20px;
      margin: 0 auto;
    }
  }

}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 66.666%;
  }
}
