* {
  margin: 0;
  font-family: monospace;
}
body {
  background-color: pink;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 400%;
}
#bpm-readout {
  font-size: 400%;
  display: flex;
  justify-content: center;
}
#play-stop {
  font-size: 400%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 66.666%;
  }
}
